NODE_ENV=
PORT=

CORS_ORIGIN=
DATABASE_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_REFRESH_TOKEN_EXPIRES_IN=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_PASSWORD=
SMTP_USER=
SMTP_SERVICE=
SMTP_FROM=
